body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0ade;
  background-image: url(pics/background.png);
  background-size: 1200px;
  background-position: bottom 98%;
  background-repeat: no-repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  background-color: #ff0ade !important;
}

.container {
  height: 100vh;
  background-image: url("https://avatars.githubusercontent.com/u/711156?s=280&v=4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 75%;
}

.container:hover {
  height: 100vh;
  background-image: url("https://avatars.githubusercontent.com/u/711156?s=280&v=4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: spinny;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 75%;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
  0% {
    background-color: red; /* Tint color */
    background-blend-mode: multiply;
    /* width: 50%; */
  }
  25% {
    background-color: lime; /* Tint color */
    background-blend-mode: multiply;
    width: 100%;
    position: absolute;
  }
  50% {
    background-color: aqua; /* Tint color */
    background-blend-mode: multiply;
    /* width: 50%; */
  }
  75% {
    background-color: pink; /* Tint color */
    background-blend-mode: multiply;
    width: 100%;
    position: absolute;
  }
  100% {
    background-color: yellow; /* Tint color */
    background-blend-mode: multiply;
    /* width: 50%; */
  }
  
}

@keyframes spinny {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
  0% {
    background-color: red; /* Tint color */
    background-blend-mode: multiply;
    width: 50%;
  }
  25% {
    background-color: lime; /* Tint color */
    background-blend-mode: multiply;
    width: 100%;
    position: absolute;
  }
  50% {
    background-color: aqua; /* Tint color */
    background-blend-mode: multiply;
    width: 50%;
  }
  75% {
    background-color: pink; /* Tint color */
    background-blend-mode: multiply;
    width: 100%;
    position: absolute;
  }
  100% {
    background-color: yellow; /* Tint color */
    background-blend-mode: multiply;
    width: 50%;
  }
  
}
